<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Update Activity</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" size="large">
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="formContainer" [formGroup]="formObj">
    <ion-grid>
      <ion-row style="display: flex; justify-content: center;">
        <!-- <ion-button> -->
        <!-- <ion-fab-button> -->
        <ion-avatar *ngIf="!photoUrl" class="avatar" (click)="fileInput.click()">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
        </ion-avatar>
        <ion-avatar *ngIf="photoUrl" class="avatar" (click)="fileInput.click()">
          <img alt="Silhouette of a person's head" [src]="photoUrl" />
        </ion-avatar>
        <input hidden type="file" #fileInput multiple (change)="uploadFiles($event.target)">
        <!-- <ion-icon name="camera"></ion-icon> -->
        <!-- </ion-fab-button> -->
        <!-- </ion-button> -->
      </ion-row>
      <ion-row style="display: flex; justify-content: center;">
        <ion-item>
          <ion-label type="floating">Name</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row style="display: flex; justify-content: center;">
        <ion-button (click)="updateActivity()">
          Submit
        </ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

