<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">DogDashboard</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="addDog()" size="large">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-item *ngFor="let dog of dogList">
  <ion-avatar>
    <img alt="Silhouette of a person's head" [src]="dog.photoUrl" />
  </ion-avatar>
  <ion-label>{{dog.name}}</ion-label>

</ion-item>
<ion-card *ngIf="!dogList.length ">Add a New Dog</ion-card>
</ion-content>
